{% extends '::base.html.twig' %}

{% block main_content %}
    {% if app.user is null %}
        <div class="login">
            <div>
                <h2 class="text-center">Iniciar sesión</h2>

                {% if error %}
                    <div class="error bg-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    <div class="form-group">
                        <input type="text" placeholder=" Nombre de Usuario" id="username" name="_username" value="{{ last_username }}"
                               required="required"
                               class="form-control"/>
                    </div>

                    <div class="form-group">
                        <input type="password" placeholder=" Ingresar Contraseña" id="password" name="_password" required="required" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="submit" class="btn btn-warning" id="_submit" name="_submit"
                                   value="Iniciar Sesión" style="margin: 0; padding: 0;"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock main_content %}
